services:
  media:
    build: .
    ports:
      - "8083:8083"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/media_db
    networks:
      - chat-net
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "27018:27017"
    volumes:
      - media_mongo_data:/data/db
    networks:
      - chat-net

volumes:
  media_mongo_data:

networks:
  chat-net:
    external: true
